@model IList<CarouselItem>
@{
    ViewData["Title"] = "Carousel items";
}
<h1>@ViewData["Title"]</h1>

<p>This page shows all carousel items for admin</p>


    <img style="display: block; margin-left: auto; margin-right: auto;margin-bottom: 10px; width: 40%;" src="~/img/impressive-very-nice.gif" />

<a asp-action="Create">Create new Carousel Item</a>

@{ 
    if (Model != null && Model.Count > 0)
    {




    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Image source</th>
                <th scope="col">Image Alt</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>

            @{
                for (int i = 0; i < Model.Count; ++i)
                {
                    <tr>
                        <th scope="row">@Model[i].ID</th>
                        <td>@Model[i].ImageSource</td>
                        <td>@Model[i].ImageAlt</td>
                        <td><a asp-action="Edit"asp-route-ID="@Model[i].ID">edit</a></td>
                        <td><a asp-action="Delete" asp-route-ID="@Model[i].ID" onclick="return ConfirmDelete();">delete</a></td>

                    </tr>

                }
               
            }
        </tbody>
    </table>
                }
                else
                {
                <p>Carousel is empty</p>
                    }
                }
@section Scripts
{
    <script src="~/js/alerts.js"></script>
}
